html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    height: 100%;
    overflow-x: hidden;
    background-color: #eae7e1;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#navbar {
    position: relative;
    background-color: #9e4331;
    width: 100%;
    top: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.nav-center {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

.nav-links {
    display: flex;
    gap: 15px;
}

.nav-direita {
    display: flex;
    gap: 15px;
    padding-right: 20px;
}

#navbar a {
    color: white;
    text-align: center;
    padding: 8px 15px;
    text-decoration: none;
    font-size: 16px;
}

#navbar a:hover {
    background-color: #5a2e26;
}

#logo {
    width: 80px;
    background-color: white;
    border-radius: 10px;
    padding: 6px;
}

#nome {
    text-align: center;
    color: #44504f;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 60px;
}

.menu-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.menu-item {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.menu-img {
    width: 100%;
    border-radius: 10px;
}

#footer {
    background-color: #9e4331;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
    font-size: 14px;
    margin-top: auto;
}

#footer p {
    margin: 0;
}

#linkedin-link {
    display: inline-block;
    margin-top: 10px;
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
}

#linkedin-link:hover {
    color: #0a66c2;
}

#linkedin-link i {
    margin-right: 8px;
}

.consulta-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding-bottom: 60px;
    margin-bottom: 0;
    padding-bottom: 60px;
}

.consulta-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
}
.consulta-form label {
    font-size: 18px;
    color: #44504f;
    display: block;
    margin-bottom: 5px;
}

.consulta-form input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}


.consulta-form button {
    background-color: #9e4331;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.consulta-form button:hover {
    background-color: #5a2e26;
}

#sobre-container {
    max-width: 800px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: justify;
}

#sobre-container h2 {
    color: #9e4331;
    margin-top: 20px;
}

